body{
  overflow: hidden;
  margin: 0;
}
.TheMainNav{
  display: flex;
  justify-content: center;
  background-color: #E9E9E9;
  position: fixed;
  width: 100%;
}
.TheMainNav_i{
  padding-left: 90px;
  padding-right: 90px;
  color: #757474;
}
.TheMainNav_i::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: Black;
    transition: width .3s;
}

.TheMainNav_i:hover::after {
    width: 100%;
    transition: width .3s;
}
.TheMainNav_2{
  height: 100%;
  width: 60px;
  background-color:#E9E9E9;
  position: fixed;
  display: flex;
  align-items: center;
}
.TheMainNav_Pro{
  transform: rotate(-90deg);
}
.TheMainNav_Pro::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: Black;
    transition: width .3s;
}

.TheMainNav_Pro:hover::after {
    width: 100%;
    transition: width .3s;
}
/* .HomePgMainBan{
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
} */
.HOMEPG_LG{
  text-align: center;
  position: absolute;
  top: 25%;
  left: 44%;
}
.crop{
border-radius: 30%;
border-color: Black;
border-style: double;
border-width: 5px;
}
.HomePgMainBan_TXT1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.HomePgMainBan_SubTX_1{
  font-size: 30px;
}
.HomePgMainBan_SubTX_2{
  font-size: 18px;
}
.hidden{
  display: none;
}
#AboutMainPg{
  height: 100%;
}
.ProjectBox_Pg{
  width: 100%;
  background-color: white;
  height: 100%;
  position: absolute;
  overflow-x: scroll;
}
.ProjectBox_Pg_TXT{
  text-align: right;
  margin-right: 20px;
  font-size: 20px;
  margin-top: 10px;
}
.ProjectBox_Pg_TLT{
  text-align: center;
  font-size: 42px;
}
.IMGSPRO{
  width: 500px;
  height: 400px;
}
.The_PRO_Gal{
  display: flex;
}
.PRO_cont{
  margin-top: 60px;
  background-color: pink;
}
.PRO_HOUSE_INFO{
  text-align: left;
  margin-left: 100px;
  margin-top: 100px;
}
.The_PRO_Gal_2{
display: flex;
justify-content: flex-end;
}
.PRO_IMG_HOM2{
  justify-content: flex-end;
}
.PRO_HOUSE_INFO2{
  margin-right: 200px;
  margin-top: 100px;
}
